{% layout "contacts/layouts/base.liquid" %}

{% block content %}

  <form
    action="/contacts"
    method="get"
    class="p-4">
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search Term</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>
      <input
        type="search"
        id="search"
        name="q"
        value="{{ searchValue }}"
        hx-get="/contacts"
        hx-trigger="search, keyup delay:100ms changed"
        hx-target="table"
        hx-indicator="#spinner"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search Term">

      <button type="submit" class="flex items-center gap-2 text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Search
      </button>
    </div>
  </form>


  <div class="relative overflow-x-auto p-4">
    <form>

      {% render 'contacts/partials/contacts_table.liquid'
        , contacts: contacts %}
      <button
        hx-delete="/contacts"
        hx-confirm="Are you sure you want to delete these contacts?"
        hx-target="body"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
        Delete Selected Contacts
      </button>
    </form>
  </div>

  <div class="flex justify-center w-[20vw] mx-auto gap-2">
    {% if page > 1 %}
      <a href="/contacts?page={{ page |  minus: 1 }}" class="flex items-center justify-center py-2.5 w-full text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    {% endif %}
    {% if contacts.size == 10 %}
      <a href="/contacts?page={{ page |  plus: 1 }}" class="flex items-center justify-center py-2.5 w-full text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    {% endif %}
  </div>


  <p>
    <a href="/contacts/new " class="
      text-white
      bg-blue-700
      hover:bg-blue-800
      focus:ring-4
      focus:ring-blue-300
      font-medium
      rounded-lg
      text-sm
      px-5
      py-2.5
      me-2
      mb-2
      dark:bg-blue-600
      dark:hover:bg-blue-700
      focus:outline-none
      dark:focus:ring-blue-800">
      Add Contact</a>
    <span hx-get="/contacts/count" hx-trigger="revealed"></span>

  </p>

{% endblock %}