<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/htmx.js"></script>
    <title>Contacts</title>
</head>
<body hx-boost="true" class="container mx-auto">
  <h2 class="text-4xl font-extrabold dark:text-white">Contacts</h2>
  {% block content %}My default content{% endblock %}
</body>
</html>
