<form
  hx-post="/todos/app"
  hx-target="tbody"
  hx-swap="beforeend"
  hx-on::after-request=" if(event.detail.successful) this.reset()"
  >
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">Error!</span>
          <li>{{ error.message }}</li>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
    <div class="sm:col-span-2">
      <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
      <input
        type="text"
        name="title"
        value="{{ formData.title }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Type your todo">
    </div>
    <div class="sm:col-span-2">
      <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
      <textarea
        rows="8"
        name="content"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Your description here">{{ formData.content }}</textarea>
    </div>
  </div>
  <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
    Add todo
  </button>
</form>